---
layout: default
title: archive
---
<table class="archivetable">
  <tr>
    <td><h2>by date</h2></td>
    <td><h2>by topic</h2></td>
  </tr>
  <tr>
    <td>
{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <h3 class="archive">{{ year.name }}</h3>
    <ul>
      {% for post in year.items %}
        <li><a href="{{ post.url }}">{{ post.title }}</a><span class="quiet"> - {{ post.date | date: "%b %-d"}}</span></li>
      {% endfor %}
    </ul>
{% endfor %}
	</td>
    <td>
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
{% assign vids = tag[1] | sort %}

{% if vids != empty %}
  <h3 class="archive" id="{{tag[0] | uri_escape | downcase}}">{{tag[0]}}</h3>
     <ul>
      {% for p in vids reversed %}
		<li><a href="{{ p.url }}">{{ p.title }}</a><span class="quiet"> - {{ p.date | date: "%b %-d, %Y"}}</span></li>
      {% endfor %}
    </ul>
{% endif %}
{% endfor %}
	</td>
  </tr>
</table>

<form id="form" role="search"> 
  <input type="search" id="query" name="q" placeholder="" aria-label="Search through site content">
  <button><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
  </button></button>
</form>
<script>
const f = document.getElementById('form');
const q = document.getElementById('query');
const duckduckgo = 'https://duckduckgo.com/?q=site%3A';
const site = 'ordaleem.com';

function submitted(event) {
  event.preventDefault();
  const url = duckduckgo + site + '+' + q.value;
  const win = window.open(url, '_self');
  win.focus();
}

f.addEventListener('submit', submitted);
</script>