---
layout: default
title: blog
---
{% for post in paginator.posts %}
<h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<p class="post-meta">
		<time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	{{ post.date | date: date_format }}
		</time>
	</p>
	{% if post.content contains '<!--more-->' %}
		<div>
			{{ post.content | split:'<!--more-->' | first }}
		</div>
		<input type="checkbox" class="read-more-state" id="{{ page.url }}"/>
		<div class="read-more">
			{{ post.content | split:'<!--more-->' | last }}
		</div>
		<label for="{{ page.url }}" class="read-more-trigger"></label>
	{% else %}
		{{ post.content }}
	{% endif %}
<hr />
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  
  <span class="page_number ">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  <br />
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagenav">Previous</a>
  {% else %}
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagenav">Next</a>
  {% else %}
  {% endif %}
</div>